header {
  height: 64px;
  border-bottom: 1px solid #b3b3b3;
  background-color: white;
  padding: 0 24px;
  display: flex;
  align-items: center;
}
.head p {
  color: #b3b3b3;
  font-size: 32px;
  display: inline;
}
.head p b {
  color: #000000
}
.head img {
  height: 100%;
}
.head nav ul {
  list-style-type: none;
  display: inline;
  justify-content: flex-end;
}
.head nav ul li {
  color: #1a1a1a;
  display: inline;
  padding-left: 16px;
  margin-top: auto;
  margin-bottom: auto;
}
