/* Universal */
* {
  box-sizing: border-box;
}
.gray {
  background-color: #d9d9d9;
}
.text-gray {
  color: #8c8c8c;
}
body {
  font-family: sans-serif;
}
h1, h2, h3, p, a {
  color: #404040;
}
h1 {
  font-size: 50px;
}
.black {
  color: #404040;
}
p {
  font-size: 20px;
}
/* Header */
header {
  height: 64px;
  border-bottom: 1px solid #d9d9d9;
  background-color: white;
  padding: 0 24px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.head p {
  color: #d9d9d9;
  font-size: 32px;
  display: inline;
  float:left;
  position: relative;
}
.head p b {
  color: #404040;
}
.head img {
  height: 100%;
  float: left;
  position: relative;
}
.head nav ul {
  float: right;
  position: absolute;
  right: 0;
  margin: auto;
}
.head nav ul li {
  list-style-type: none;
  display: inline-block;
  padding-right:16px;
  margin: 0;
  padding-right: 16px;
}
.head nav ul li a {
  color: #404040;
  float: right;
  font-size: 32px;
  text-decoration: none;
}
/* Main Section -- Banner */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9
}
.banner ul li {
  list-style-type: none;
}
.banner img {
  width: 60%;
  margin: 32px 24px;
}
.banner ul h1 {
  font-weight: bold;
  font-size: 50px;
}
.banner ul p {
  font-size: 32px;
}
.banner ul button {
  padding: 20px 120px;
  font-size: 20px;
  background-color: #404040;
  color: white;
  border: none;
}
/* News section -- Right under .banner  */
.news {
  display: flex;
  width: 100%;
  vertical-align: middle;
  clear: both;
}
.news .main {
  width: 60%;
  padding: 32px 24px;
  border-right: 1px solid #d9d9d9;
}
.news .main img {
  width: 100%;
  margin-bottom: 32px;
  height: auto;
}
.news .side-all {
  float: right;
  width: 40%;
  vertical-align: middle;
}
.news .side {
  width: 100%;
  float: right;
  padding: 16px 16px;
  display: flex;
  border-bottom: 1px solid #d9d9d9;
}
.news .side img {
  width: 35%;
  height: auto;
  vertical-align: middle;
  float: left;
}
.news .side ul {
  vertical-align: middle;
  width: 65%;
  list-style-type: none;
  float: right;
}
.news .top {
  margin-top: 32px;
}
/* Start Learning Section */
.courses h1 {
  text-align: center;
  margin-top: 32px;
}
.courses .learn-all {
  margin: 32px auto;
}
.courses .three {
  display: flex;
  flex-wrap: nowrap;
}
.courses .learn {
  background-color: white;
  margin-bottom: 32px;
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  flex-shrink: initial;
  max-width: 31%;
}
.courses .learn img {
  height: auto;
  display: flex;
  flex-shrink: initial;
}
.courses .learn h2, .courses .learn p {
  margin: 16px 16px;
}
