/* Universal */
.gray {
  background-color: #b3b3b3;
}
body {
  font-family: sans-serif;
}
/* Header */
header {
  height: 64px;
  border-bottom: 1px solid #b3b3b3;
  background-color: white;
  padding: 0 24px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.head p {
  color: #b3b3b3;
  font-size: 32px;
  display: inline;
  float:left;
  position: relative;
}
.head p b {
  color: #000000
}
.head img {
  height: 100%;
  float: left;
  position: relative;
}
.head nav ul {
  float: right;
  position: absolute;
  right: 0;
  margin: auto;
}
.head nav ul li {
  list-style-type: none;
  display: inline-block;
  padding-right:16px;
  margin: 0;
  padding-right: 16px;
}
.head nav ul li a {
  color: #1a1a1a;
  float: right;
  font-size: 32px;
  text-decoration: none;
}
/* Main -- Banner */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner img {
  width: 60%;
  margin: 32px 24px;
}
.banner h1 {
  font-weight: bold;
}
