header {
  height: 64px;
  border-bottom: 1px solid #b3b3b3;
  background-color: white;
  padding: 0 24px;
}
.head p {
  color: #b3b3b3;
  font-size: 32px;
  display: inline;
  margin: auto 0;
}
.head p b {
  color: #000000
}
.head img {
  height: 100%;
}
.head nav {
  list-style-type: none;
  display: inline;
  float: right;
}
.head nav ul li {
  color: #1a1a1a;
  display: inline;
  padding-left: 16px;
  margin-top: auto;
  margin-bottom: auto;
}
